## [Start] Setting "reminderSent" to default value of "false". **
$util.qr($context.args.input.put("reminderSent", $util.defaultIfNull($ctx.args.input.reminderSent, false)))
## [End] Setting "reminderSent" to default value of "false". **
{}